

body{
  background: url("lambo.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  font-family:Arial, Helvetica, sans-serif;
    

}


.pagecontainer
{
padding: 10px;

}

.header{
    height: 75px;
    text-align: center;
    
    
    
}
header{
    font-size: 50px;
    font-weight:bold;
    text-shadow: 2px 2px 1px rgba(2, 18, 17, 0.566);
    
   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: 30px;
    
  }
  
  li {
    float: left;
    margin-left: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 30px;
    width: 100px;
    font-size: 20px;
    background-color: #333333fd;
    
  }
  
  li a:hover:not(.active) {
    background-color: #04f8ec;
  }
  
  .active {
    background-color:  #5dfefb;
  }
  .intro
  {
    padding-top: 60px;
    padding-left:20px;;
    padding-bottom: 600px;
  }

  .arrived{
    background-color: #0000009d;
    color: white;
    padding: 15px;
    border-radius: 30px;
  }
  .head3{
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
  }
  .jAContainer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  .containerPart{
    width: 400px;
    height: 200px;
  }