

body{
    background: url("lambo.jpg"); 
    background-repeat: no-repeat;
    background-size: auto;
    font-family:Arial, Helvetica, sans-serif;
    

}

.header{
    height: 75px;
    text-align: center;
    padding: 15px;
    
    
}
header{
    font-size: 50px;
    
    font-weight:bold;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
    
   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 30px;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 30px;
    width: 80px;
    
    background-color: #333;
    
  }
  
  li a:hover:not(.active) {
    background-color: #94f2f9;
  }
  
  .active {
    background-color: #93f4fb;
  }
  .intro
  {
    
    padding: 20px;
  }
  .justarr{
    padding-top: 650px;
    
  }
  .arrived{
    background-color: #000000;
    color: white;
    padding: 15px;
    border-radius: 30px;
  }
  .head3{
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
  }